.available-digits {
  display: flex;
  gap: 0.5rem;
  margin-top: -15px;
  line-height: 1;
}
.available-digits span {
  font-size: 1.5rem;
  padding: 0.3rem 0.7rem;
  border-radius: 4px;
  background: #eee;
  color: #333;
  transition:
    background 0.2s,
    color 0.2s;
}
.available-digits-label {
  font-size: 0.9rem;
  color: #666;
  margin-right: 0.5rem;
  margin-top: -10px;
}
.available-digits span.used {
  background: #ccc;
  color: #888;
  text-decoration: line-through;
}
