.sudoku-board {
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  gap: 2px;
  background: #333;
  padding: 8px;
  border-radius: 8px;
}
.sudoku-row {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 2px;
}
.sudoku-row.row-complete {
  animation: highlight 0.5s;
  background: #64c764;
}
@keyframes highlight {
  0% {
    background: #e0ffe0;
  }
  100% {
    background: transparent;
  }
}
.sudoku-cell.box-complete {
  animation: highlight 0.5s;
  background: #e0ffe0;
}
.sudoku-cell.wave-animate {
  animation: wave-green 0.5s forwards;
  background: #64c764 !important;
}
@keyframes wave-green {
  0% {
    background: #64c764;
  }
  100% {
    background: transparent;
  }
}
